/**
 * 白色背景
 * White background
 */
.bg-white {
  background-color: @white !important;
}
/**
   * 透明背景
   * Transparent background
   */
.bg-transparent {
  background-color: transparent !important;
}

.bg-light-blue {
  background-color: @light-blue-bg !important;
}
.bg-ready {
  background-color: @ready-color !important;
}
.bg-audit-fail {
  background-color: @audit-fail-color !important;
}
.bg-primary {
  background-color: @primary-color !important;
}
/**
   * 白色文本
   * White text
   */
.color-white {
  color: @white !important;
}
/**
   * 鼠标悬停文本主颜色
   * Mouse hover text primary color
   */
.text-hover {
  cursor: pointer;
  &:hover {
    color: @primary-color !important;
  }
}
.color-info {
  color: @text-color-secondary !important;
}
.color-primary {
  color: @text-color !important;
}
.color-link {
  color: @primary-color !important;
}
.color-label {
  color: @label-color !important;
}
